* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*  opacity: .5;*/
  background: url(board.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  font-family: sans-serif;
  font-size: 20px;
  font-size: bold;
}

#content {
  background: white;
  font-family: 'Shadows Into Light', cursive;
  opacity: .5;
}

#panelSignIn {
  font-family: 'Shadows Into Light', cursive;
  background: grey;
  opacity: .7;
}

.title {
  font-family: 'Shadows Into Light', cursive;
  background: grey;
  opacity: .7;
  text-align: center;
  border-radius: 2px solid black;
  color: white;
  font-size: 16px;
  padding: 15px;
  align-content: center;
  margin: auto;
  padding-bottom: 10px;
  padding-top: 10px;
}

.wrap {
  margin: auto;
  max-width: 800px;
  width: 90%;
}

.main {
  font-family: 'Shadows Into Light', cursive;
  border-top: 20px solid black;
  color: black;
  padding: 50px 0;
  width: 100%;
}

.main .form {
  text-align: center;
}

.main .form input[type=text] {
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}

.main .form input[type=text].error {
  border: 3px solid red;
  color: black;
}

.main .form .button {
  background: grey;
  opacity: .7;
  border-radius: 2px solid white;
  color: white;
  display: inline-block;
  font-size: 16px;
  padding: 15px;
}

.main .form .button:hover {
  border-radius: 15px;
}

.tasks .list {
  font-family: 'Shadows Into Light', cursive;
  list-style: none;
}

.tasks .list li {
  border-bottom: 1px solid black;
}

.tasks .list li a {
  color: black;
  display: block;
  padding: 20px 0;
  text-decoration: none;
}

.tasks .list li a:hover {
  text-decoration: line-through;
}

#logOutButton,
#loginButton {
  font-family: 'Shadows Into Light', cursive;
  background: grey;
  opacity: .7;
  border-radius: 2px solid white;
  color: white;
  font-size: 16px;
  padding: 15px;
  align-content: center;
  display: flex;
  margin: auto;
  padding-bottom: 10px;
  padding-top: 10px;
}

#logOutButton:hover {
  border-radius: 15px;
}
